body {
    background-color: rgb(250, 0, 0);
    background-image: url(./img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font: normal 18pt arial;
    margin: 0;
    padding: 0; 
}
* {
    margin: 0;
    padding: 0;
}
.comeco {
    background-color: rgba(250, 250, 250, 0.8);
    border: 3px solid #990066;
    border-radius: 20px;
}
img {
    width: 300px;
    height: 200px;
    /* border-style: solid;
    border-width: 5px;
    border-color: #fafafa; */
    border: 5px solid rgb(255, 0, 0);
    border-radius: 10px;
    margin: 20px 41%; 
}
.titulo {
    color: rgb(255, 0, 0);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 4px 4px 5px black;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: left;
/* margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px; */
    margin: 50px 40px;
} 
p {
    color: white;
    text-align: center;
    margin-left: 10px;
} 
.menu {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
    list-style: none; /*Deixa a lista sem marcação*/
    text-align: center;
    text-transform: pathway gothic one;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 0;
    border: 2px solid red; 
}
.menu li {
    display: inline-block;
    margin: 30px 60px;
}
.menu a {
    text-transform: none;
    color: red;
}
.menu a:hover {
    color: black;
}
.secoes {
    font-style: italic;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 50px 40px;
}

